* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 40px;
  position: relative;
}
.logo {
  position: relative;
  right: 80px;
  z-index: -1;
}
.contect-info {
  position: absolute;
  right: 0;
  top: -200px;
  z-index: -2;
}

.container {
  margin: 0 auto;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  /* padding: 20px 0 0; */
  background-color: #70e443;
}
footer div {
  display: flex;
  justify-content: center;
  background-color: #555;
  padding: 5px 0;
}
footer p {
  color: #eee;
  opacity: 0.8;
  font-size: 0.7rem;
}
.author {
  text-transform: uppercase;
  font-size: 0.65rem;
}
